* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	height: 100vh;
    width: 100%;
	margin: 0 auto;
	padding: 0 20px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/coffee2.jpg);
    background-position: right;
    background-size: cover;
	color: white;

}
h2 {
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 250px;
	color: crimson;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 30px;
	font-style: italic;
}


/* Header Styles */

header {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30 ps 80 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;

}
.nav-bar .title {
    font-size: 77px;
    color:#fff;
    font-weight: bold;

}
span {
    color: crimson;
	text-transform: lowercase;
}
.nav-bar p {
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    color: #fff;
	font-size: 30px;
}
.menu li {
	list-style: none;
	display: inline-block;
}
.menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 27px;
	font-weight: 600;
	margin-left: 25px;

}
nav ul li a:hover {
	color: #006699;
}

/* Main Styles */

main {
	padding: 20px;
}


button {
	background-color: #006699;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #003d4d;
}

/* Footer Styles */

footer {
	background-color: #fff;
	box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #666;
	margin-top: 30px;
}
